*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container{
    display: flex;
    height: 100vh;
    background-color: rgb(223, 213, 213);
    border: 1px solid red;
  
}

.background {
      /* 회원전체 배경 */
      box-sizing: border-box;
      width: 1920px;
      height: 1080px;
      border: 1px solid #0068FF;
      background: #FFFFFF;
        
      margin: auto;
      
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      }

.wrapper {
  /*회원 가입*/
  width: 670px;
  height: 960px;
  border: 1px solid #AACDFF;
  background: #FFFFFF;
  box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25); 
  border-radius: 20px;
  padding: 70px 85px
}

.welcome{
     /*회원 가입을 위해 정보를 입력해주세요 */
      width: 100%;
      height: 94px;
      /* border: black 1px solid; */
      font-family: 'Noto Sans CJK KR';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 47px;
      color: #0068FF;
      margin: 50px 0px;
       
   
}

.email{
  color: #797979;
  /* border: #AACDFF 1px solid; */
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0px;
  margin: 10px 0px;
}

.email_input{
  width: 495px;
  height: 25px;
  border-top: 0;
  border-left: 0;
  border-right:0;
  border-bottom: #797979 3px solid;
}

.name{
  color: #797979;
  /* border: #AACDFF 1px solid; */
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0px;
  margin: 10px 0px;
  
}

.name_input{
  width: 495px;
  height: 25px;
  border-top: 0;
  border-left: 0;
  border-right:0;
  border-bottom: #797979 3px solid;
}

.pwd{
  color: #797979;
  /* border: #AACDFF 1px solid; */
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0px;
  margin: 10px 0px;
  
}

.pwd_input{
  width: 495px;
  height: 25px;
  border-top: 0;
  border-left: 0;
  border-right:0;
  border-bottom: #797979 3px solid;
}


.pwdre{
  color: #797979;
  /* border: #AACDFF 1px solid; */
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0px;
  margin: 10px 0px;
}


.pwdre_input{
  width: 495px;
  height: 25px;
  border-top: 0;
  border-left: 0;
  border-right:0;
  border-bottom: #797979 3px solid;
}



.sex{
    /* border: #AACDFF 1px solid; */
    text-align: center;
    margin: 20px 0px
}

.agree{
    font-size: 14px;
    font-weight: 600;
    padding: 18px 10px;
    margin-bottom: 20px;
    /* border: #AACDFF 1px solid; */
}

.join{
   /* 가입버튼 */
  /*Rectangle2 */
  
  height: 75px;
  background: #FFFFFF;
  color: #0068FF;
  border: 1px solid #0068FF;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.join a {
  text-decoration: none;
}


    
