* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
}

main> * {
  background-color: lavender;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  grid-template-rows: 1fr 4fr;
  gap: 10px;
  
}

nav {
  grid-column: 1 / -1;
}


aside {
  grid-row: 2 / span 3;
}


.sec-1 {
  grid-column: 2 / 3;
}